#ranksTable {
	border: solid 1px;
	border-color: #1a549b;
	border-collapse: collapse;
	width: 100%;
	text-align: center;
}

#ranksTable th {
	color: #1a549b;
	background-color: #b7d4f5;
}

#ranksTable tr, td, th{
	border: solid 1px;
	border-color: #1a549b;
	padding-bottom: 10px;
	padding-top: 10px;
}

#ranks {
	width: 25%;
}

#name {
	width: 50%;
}

#lbs {
	width: 25%;
}

#improvementTable {
	border: none;
	border-collapse: collapse;
	width: 100%;
}

#improvementTable td{
	width: 50%;
	border: none;
}

#improvementTable tr {
	border-bottom: solid 1px #1a549b;
}

#improvLBS {
	text-align: right;
}

h2 {
	text-align: center;
	padding-top: 10px;
}

.content  {
	padding-left: 20px;
	padding-right: 20px;
}