.accordion h2 {
    background-color: #1a549b;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

.accordion ul li {
    background-color: lightgray;
    padding: 5px;
    margin-left: 15px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.accordion ul li.selected {
    background-color: #b7d4f5;
    color: #1a549b;

}