
.tables caption {
  background-color: #b7d4f5;
  color: #1a549b;
  padding: 10px;
}
.tables table {
  border-collapse: collapse;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 15px;
}
.tables table,
.tables td,
.tables th {
  border: 1px solid #b7d4f5;
  padding: 5px;
}